.edit-dark-back{
    background-color: #030312;
    height:50vh ;
    color: #fff;
    font-family: "Crimson Text", serif;

    
}

.edit-dark-back.light{
    background-color: #4A2B10;
    height:50vh ;
    color: #fff;
    
}

