.payment-section {

    background-color: #030312;

    .accordion-item {
        background: linear-gradient(to right, #77530a, #bb9341, #77530a, #77530a, #bb9341, #77530a); /* Linear gradient background */
        position: relative;
    }

    .payment-btn{
        width: 30% !important;
        background-color:#F9EACD !important ;
        color: #000 !important;
        border: 4px solid transparent !important; 
  border-image: linear-gradient(to right, #77530a, #bb9341, #77530a, #77530a, #bb9341, #77530a) 1 !important; /* Gradient border */
  border-radius: 5px !important; 
    }

    color: #fff;
    font-family: "Crimson Text", serif;


}

.payment-section.light {

    background-color: #4A2B10;

    .accordion-item {
        background-color: #F9EACD;
    }

    .payment-btn{
        background-color: #F9EACD;
        color: #000;
    }

}

.check-box {
    width: 100%;
    height: 50vh;
    background-image: url('../../../img/check.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border: 5px solid;
    border-image: linear-gradient(to right,
    #77530a,
    #bb9341,
    #77530a,
    #77530a,
    #bb9341,
    #77530a) 1 !important;    padding: 20px;
    font-size: 50px;

}

@media (max-width: 768px) {
    .check-box {
        font-size: 35px; 

        height: auto; 
        padding: 10px;

        p{
            font-size: 32px; 
        }
    }}